<div ng-switch on="fieldDescriptor.type">
    <div ng-switch-when="Document">
        <a ng-show="canDelete();" class="btn btn-xs btn-primary" ng-click="delItem(arrIdx);">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a class="btn btn-xs btn-default" ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed" class="glyphicon glyphicon-chevron-right"> {{ fieldName }}</span>
            <span ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-down"> {{ fieldName }}</span>
        </a>
        <ul collapse="isCollapsed">
            <li ng-controller="EntityDescriptorController" ng-repeat="descriptor in children" ng-init="init($parent.fieldValue, descriptor);">
                <div ng-include="'public/app/partials/entity-descriptor.html'"></div>
            </li>
        </ul>
    </div>
    <div ng-switch-when="Array">
        <a ng-show="canDelete();" class="btn btn-xs btn-primary" ng-click="delItem(arrIdx);">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a class="btn btn-xs btn-default" ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed" class="glyphicon glyphicon-chevron-right"> {{ fieldName }}</span>
            <span ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-down"> {{ fieldName }}</span>
        </a>
        <ul collapse="isCollapsed">
            <li ng-controller="EntityDescriptorController" ng-init="init($parent.fieldValue, $parent.children[0], $index);" ng-repeat="value in fieldValue track by $index">
                <div ng-include="'public/app/partials/entity-descriptor.html'"></div>
            </li>
            <li>
                <a ng-show="canAdd();" class="btn btn-xs btn-primary" ng-click="addItem();">
                    <span class="glyphicon glyphicon-plus">Add</span>
                </a>
            </li>
        </ul>
    </div>
    <form ng-switch-default class="form-inline" role="form">
        <div class="form-group">
            <a ng-show="canDelete();" class="btn btn-xs btn-primary" ng-click="delItem(arrIdx);">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
            <label for="{{ path }}">{{ fieldName }}</label>
            <input type="text" class="form-control input-sm" id="{{ path }}" placeholder="{{ fieldDescriptor.type }}" ng-change="valueChanged(fieldValue);" ng-disabled="isReadOnly();" ng-model="fieldValue">
        </div>
    </form>
</div>
