<div>
    <div class="modal-header">
        <h3>Add an entity of type {{ schema.name }}</h3>
    </div>
    <div class="modal-body entity-display">
        <li ng-controller="EntityDescriptorController" ng-repeat="descriptor in descriptors" ng-init="init(entity, descriptor);">
            <div ng-include="'public/app/partials/entity-descriptor.html'"></div>
        </li>
    </div>
    <div class="modal-footer" ng-if="action != 'view'">
        <button ng-disabled="!hasChanged()" class="btn btn-primary" ng-click="save();">Save</button>
        <button class="btn btn-warning" ng-click="$dismiss('Cancel');">Cancel</button>
    </div>
    <div class="modal-footer" ng-if="action == 'view'">
        <button class="btn btn-warning" ng-click="$dismiss('Close');">Close</button>
    </div>
</div>