<div class="row sisui-bottom-buffer">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="filter">Filter</label>
        <input ng-model="filterText" type="text" class="form-control" id="filter" placeholder="Filter">
      </div>
    </form>
</div>
<div class="row">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Owners</td>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="schema in schemas | filter:filterText">
                <td><a href="#/entities/{{schema.name}}">{{schema.name}}</a></td>
                <td><span style="margin-right: 1px;" ng-repeat="owner in schema.owner" class="label label-default">{{owner}}</span></td>
                <td>
                    <a ng-show="!canManage(schema)" class="btn btn-xs btn-default" disabled="disabled">
                        <span class="glyphicon glyphicon-lock"></span>
                    </a>
                    <a ng-show="canManage(schema)" class="btn btn-xs btn-primary" href="#/schemas/{{schema.name}}">
                        <span class="glyphicon glyphicon-edit">Edit</span>
                    </a>
                    <a ng-show="canRemove(schema)" class="btn btn-xs btn-danger" ng-click="remove(schema)">
                        <span class="glyphicon glyphicon-trash">Remove</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>