doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href=prefix + "public/css/bootstrap.min.css")
        script(src="http://code.jquery.com/jquery-1.11.0.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
        script(src=prefix + 'public/js/doc.js')
    body
        div(id='_root_div_')
            != readme
